<mat-sidenav-container>

  <mat-sidenav
    #mainSidenav
    [fixedInViewport]="true"
    [fixedTopGap]="0"
    [fixedBottomGap]="0"
  >
    Sidenav content
  </mat-sidenav>

  <mat-sidenav-content>

    <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
      <h5 class="my-0 mr-md-auto font-weight-normal">My App</h5>
      <nav class="my-2 my-md-0 mr-md-3">
        <a class="p-2 text-dark" routerLink="/">Home</a>
        <a class="p-2 text-dark" routerLink="/one">one</a>
        <a class="p-2 text-dark" routerLink="/two">two</a>
        <a class="p-2 text-dark" routerLink="/three">three</a>
        <a class="p-2 text-dark" routerLink="/four">four</a>
        <a class="p-2 text-dark" (click)="mainSidenav.toggle()">Sidenav</a>
      </nav>
    </div>

    <div class="container">
      <router-outlet></router-outlet>
    </div>

  </mat-sidenav-content>


</mat-sidenav-container>