<a
  [routerLink]="['articles', article.id]"
>
  <div class="card mb-4 box-shadow">
    <div
      *ngIf="hasImage"
      class="articles-card-image"
      [ngStyle]="{'background-image':'url(assets/images/'+ article.image +')'}"
    >
    </div>
    <div class="card-body">
      <small>{{ article.created | date:'fullDate'}}</small>
      <h5 class="card-title mb-10">{{ article.title }}</h5>
      <hr/>
      <p class="card-text">
        {{ article.description | truncate:[ truncNumber, '...']  }}
      </p>
    </div>

  </div>
</a>
