<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h4>Teamplate driven Form</h4>
            <p>
                They are usful for adding a simple form to ann app, suce as an email list signup form.
                <br>
                Teamplate driven forms are a new feature in Angular.
            </p>
            <h5>Most work on the HTML</h5>
            <h5>Simple form</h5>
            <a routerLink="one">Teamplate driven Form</a>
        </div>
        <div class="col-md-6">
            <h4>Reactive Form</h4>
            <p>
                They are more robust, they are more scalabe, reusable, testable 
                <br>
                and can be used in more complex apps.
            </p>
            <h5>Most work on the TS</h5>
            <h5>Complex Form</h5>
            <a routerLink="two">Reactive Form</a>
        </div>
    </div>
</div>
