<div style="width:400px">

    <div class="mb-4">
      <small>Your question was:</small>
      <h4>{{ appValues.question }}</h4>
    </div>

    <div class="mb-4">
        <small>Your answer is:</small>
        <h4 class="text-success">
          {{ appValues.answer }}
        </h4>
    </div>

   <div>
      <button
        type="button"
        class="btn btn-light btn-block  mb-2 w-100"
        (click)="doItAgain()"
      >
        Don't like it.
      </button>

      <button
        type="button"
        class="btn btn-dark btn-block w-100"
        (click)="onStartOver()"
      >
        Start over
      </button>
   </div>



</div>
