<h1>
  Carousel
</h1>
<carousel [isAnimated]="true" [noPause]="false">
  <slide>
    <img src="assets/images/1.jpg" alt="first slide" style="display: block; width: 100%;">
    <div class="carousel-caption d-none d-md-block">
        <h3>First slide label</h3>
        <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
      </div>
  </slide>
  <slide>
    <img src="assets/images/2.jpg" alt="second slide" style="display: block; width: 100%;">
    <div class="carousel-caption d-none d-md-block">
        <h3>Second slide label</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
      </div>
  </slide>
  <slide>
    <img src="assets/images/3.jpg" alt="third slide" style="display: block; width: 100%;">
    <div class="carousel-caption d-none d-md-block">
        <h3>Third slide label</h3>
        <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
      </div>
  </slide>
</carousel>
<hr />

<carousel
    [interval]="interval"
    [pauseOnFocus]="pauseOnFocus"
    [itemsPerSlide]="3"
    [indicatorsByChunk]="true"
>
    <slide *ngFor="let slide of slides;let i=index">
        <img
            [src]="slide.image"
            style="display:block;width:100%"
        >
        <div class="carousel-caption">
            <h4>Slide {{i}}</h4>
        </div>
    </slide>
</carousel>

<div class="mb-5"></div>

